.imagenINICIO{
    width: 15rem;
}
.contenedorInicio{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#carouselExampleRide{
    width: 45rem;
    padding: 1rem;
}
.carruselFlex{
    display: flex;
    justify-content: center;
}
